<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app.component.css">
    <title>Title</title>
</head>
<body>
    <div class="language">
        <div class="dropdown" style="float:left;">
        <button class="dropbtn">RU</button>
        <div class="dropdown-content" style="left:0;">
            <a href="#">EN</a>
        </div>
        </div>
        <div>
            <button class="first-button">Войти</button>
        </div>
    </div>
    <div class="caption">
        <h1>Электронная библиотека</h1>
        <div>
            <input type="text" name="search" id="search" placeholder="Что будем искать?">
        </div>
        <div class="caption-button">
        <div>
            <button class="caption-buttons">Расширенный поиск</button>
        </div>
        <div>
            <button class="caption-buttons">Атрибутный поиск</button>
        </div>
        </div>
    </div>
    <div class="cards">
        <div class="cards-tasks">
            <div class="image-container">
                <img class="img-circle" src="../image/img.png" >
            <div>
                <img class="img-check" src="../image/img_1.png" >
            </div>
            </div>
    <span class="tasks-title">
        Цели и задачи
        <div class="tasks-text">Электронная библиотека ИТМО
            ориентирована на обеспечение
            информационных потребностей пользователей в процессе обучения
            и научной деятельности. . </div>
    </span>
        </div>
        <div class="cards-tasks">
            <div class="image-container">
                <img class="img-circle" src="../image/img_2.png" >
                <div>
                    <img class="img-check" src="../image/img_4.png" >
                </div>
            </div>
        <span class="tasks-title">

            Личный кабинет
            <div class="tasks-text">
                Авторизованные пользователи имеют возможность
                пользоваться дополнительными сервисами Личного кабинета,
                включая создание списков электронных ресурсов, сохранение
                поисковых запросов, создание конспектов из фрагментов электронных
                произведений.
            </div>
        </span>
        </div>
        <div class="cards-tasks">
            <div class="image-container">
                <img class="img-circle" src="../image/img_3.png" >
                <div>
                    <img class="img-check" src="../image/img_5.png" >
                </div>
            </div>
        <span class="tasks-title">Авторам
        <div class="tasks-text">
            Порядок приема и использования произведений регулируются в
            соответствии с действующим законодательством, локальными
            нормативными актами СПбПУ и прямыми договорами с правообладателями.
            На сайте ФБ СПбПУ приведена информация для авторов, включая порядок
            приема и оформления электронных документов.
        </div>
        </span>
        </div>
</div>
    <div class="wave-container">
        <div class="image-container">
            <img class="img-student" src="../image/img_6.png" >
        </div>
        <div class="text-img-blue">
        <div class="itmo-student">
            <span>ITMO.STUDENTS</span>
            <div class="student-life" >Студенческий жизнь</div>
            <div class="student-life">Студенческая офис</div>
            <div class="student-life">Мероприятия</div>
            <div class="student-life">Возможности</div>
            <div class="student-life">Обучение</div>
            <div class="student-life">Кампус</div>
        </div>
        <div>
            <span>СЕРВИСЫ</span>
            <div class="student-life" >Расписание и сессия</div>
            <div class="student-life">Запись в офис</div>
            <div class="student-life">Заказать документы</div>
            <div class="student-life">Корпроративные сервисы</div>
        </div>
            <div>
                <span>КОНТАКТЫ</span>
                <div class="student-life" >г. Санкт - Петербург , ул.  Ломоносова  , д. 9 , оф. 1400</div>
                <div class="student-life">Телефон : + 7 ( 812 ) 607 - 04 - 74</div>
                <div class="student-life">email : so@itmo.ru </div>
                <div class="student-life">Время работы : пн-пт с 9:00 до 19:00</div>
            </div>
        </div>
        <div>
            <h3 class="min-obr">Минобрнауки России</h3>
        </div>
    </div>
<div>
</div>
</body>
</html>
